---
title: OY! API Documentation

language_tabs: # must be one of https://git.io/vQNgJ
  - shell: curl
  - dart
  - go
  - java
  - javascript
  - php
  - python

toc_footers:
  - <a href='mailto:business@oyindonesia.com'>Ask for Integration</a>

includes:
  - business_flow
  - postman
  - authentication
  - account_inquiry
  - account_inquiry_response_code
  - fund_disbursement
  - disbursement_banks
  - api_international_transfer
  - static_va
  - static_va_response_code
  - fund_acceptance
  - api_account_receivable
  - offline_api
  - api_based_transactions_data
  - e_wallet
  - payment_routing
  - api_multi_account_management
  - api_get_transaction_summary
  - send_whatsapp
  - biller_api
  - api_account_linking
  - transaction_detail
  - timeout
  - docs_changelog

search: true

code_clipboard: true
---

# Introduction

Welcome to OY! API Documentation. Our API services are organized around [REST](https://en.wikipedia.org/wiki/Representational_state_transfer), accepts [form-encoded](https://en.wikipedia.org/wiki/POST_(HTTP)#Use_for_submitting_web_forms) request bodies and returns [JSON-encoded](https://www.json.org/json-en.html) responses.

# Definition

For the purpose of standardization and to prevent any misunderstanding, below our the terms we are going to use in this documentation:

* Partner: OY! Business clients which utilise the API Services and Payment Portal
* Beneficiary: Destination account whereby the payout/transfer is intended to
* Deposit: Balance stored in OY! Account which will be deducted for any successful disbursement
